.star {
    color: red;
}
#ul_modal-block{
    position: fixed;
    left: 50%;
    margin-left: -250px;
    width : 500px;
    top: 10%;
    z-index: 10000;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: left;
   
}
.popups-close .close {
    position: absolute;
    width: 25px;
    height: 25px;
   /* background: white;*/
    right: 10px;
    top: 10px;
    display: block;
    background: transparent url(/modules/overlay/images/close.png) no-repeat 0 0;
}
#modal-title {
    font-size: 16px;
    font-weight: bold;
}

#ul_modal-block .messages {
    font-size: 11px;
}
