<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Catalog Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="catalog.html#" id="fb"> </a>
      	<a href="catalog.html#" id="tw"> </a>
      </div>
    	<a href="catalog.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="catalog.html#">catalog</a></li>
      	<li id="navp2"><a href="catalog.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="catalog.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="catalog.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="catalog.html#">FOUNDER’S STORY</a></li>
      	<li><a href="catalog.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="catalog.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="catalog.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="catalog.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pdp_main_wrp">
  <div class="main in clearfix">
  	<!-- Start SideBar -->
  	<div id="sb" class="ctlg_sb_box">
    	<h6 id="sb_ttl">COLLECTIONS</h6>
      <a href="catalog.html#" class="ctlg_sb">
      	<img src="images/view_all.jpg" width="185" height="108" alt="">
      	<b>VIEW ALL</b>
      </a>
      <a href="catalog.html#" class="ctlg_sb">
      	<img src="images/view_naturals.jpg" width="185" height="126" alt="">
      	<b>naturals</b>
      </a>
      <a href="catalog.html#" class="ctlg_sb">
      	<img src="images/view_gemstone.jpg" width="185" height="119" alt="">
      	<b>gemstone</b>
      </a>
      <a href="catalog.html#" class="ctlg_sb">
      	<img src="images/view_crushed_crystal.jpg" width="185" height="122" alt="">
      	<b>crushed crystal</b>
      </a>
      <a href="catalog.html#" class="ctlg_sb">
      	<img src="images/view_specialty.jpg" width="185" height="121" alt="">
      	<b>specialty</b>
      </a>
    </div>
    <!-- End SideBar -->
    <div class="prod_page" id="ctlg">
    	<div id="ctlg_main_text" class="clearfix">
        <h1>catalog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati on ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <div id="catalog_box" class="clearfix">
        	<div class="enlarge"><img src="images/model1.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        	<div class="enlarge"><img src="images/model2.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        	<div class="enlarge"><img src="images/model3.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        	<div class="enlarge"><img src="images/model4.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        	<div class="enlarge"><img src="images/model5.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        	<div class="enlarge"><img src="images/model6.jpg" width="330" height="401" alt="">
          <span class="qaz"> </span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="catalog.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="catalog.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="catalog.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="catalog.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>