<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>ECO Responsibility Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="eco_responsibility.html#" id="fb"> </a>
      	<a href="eco_responsibility.html#" id="tw"> </a>
      </div>
    	<a href="eco_responsibility.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="eco_responsibility.html#">catalog</a></li>
      	<li id="navp2"><a href="eco_responsibility.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="eco_responsibility.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="eco_responsibility.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="eco_responsibility.html#">FOUNDER’S STORY</a></li>
      	<li><a href="eco_responsibility.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="eco_responsibility.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="eco_responsibility.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="eco_responsibility.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pdp_main_wrp">
  <div class="main in clearfix">
    <div class="content clearfix" id="eco">
        <h1>ECOLOGICAL RESPONSIBILITY</h1>
        <!--======-->
        <div class="eco_cell clearfix" id="eco_cell1">
        	<img src="images/eco_map.jpg" width="485" height="390" alt="" class="left">
        	<div class="right">
          	<h2>The Knobcone Pinetree</h2>
            <p>Throughout the span of recorded human history, Pinecones have served as a symbolic representation of Human Enlightenment, the Third Eye and the Pineal Gland.<br><br>Conifer Pine Trees are one of the most ancient plant genera on the planet, having existed nearly three times longer than all flowering plant species. The Pinecone is the evolutionary precursor to the flower, and its spines spiral in a perfect Fibonacci sequence in either direction, much like the Sacred Geometry of a rose or a sunflower.<br><br>Soul," the “Epicenter of Enlightenment” -- and its sacred symbol throughout history, in cultures around the world, has been the PineconeThe Pinecone is the evolutionary precursor to the flower, and its spines spiral in a perfect Fibonacci sequence in either direction.</p>
          </div>
        </div>
        <!--======-->
        <div class="eco_cell clearfix" id="eco_cell2">
        	<div class="left">
          	<h2>Sourcing Hard Knob pinecones</h2>
            <p>Throughout the span of recorded human history, Pinecones have served as a symbolic representation of Human Enlightenment, the Third Eye and the Pineal Gland.<br><br>Conifer Pine Trees are one of the most ancient plant genera on the planet, having existed nearly three times longer than all flowering plant species. The Pinecone is the evolutionary precursor to the flower, and its spines spiral in a perfect Fibonacci sequence in either direction, much like the Sacred Geometry of a rose or a sunflower</p>
          </div>
          <div id="eco_video">
          	<img src="images/video_placeholder.jpg" width="482" height="308" alt="">
          </div>
        </div>
        <!--======-->
        <div class="eco_cell clearfix" id="eco_cell3">
        	<img src="images/eco_afe.jpg" width="315" height="298" alt="" class="left">
          <div class="right">
          	<h2>Aiding the cause through donation</h2>
            <p>Our pendants are very sturdy and will typically hold up well under most conditions. With that said Pinecones are wood and should be cared for as one would with any fine wooden product. Most notably, try not to repeatedly exposure your pinecone pendent to heat above 180 degrees F. Cost of $15 per pendant. Simply order a refurbishment by clicking the button. Once you have ordered we will send you prepaid postage within 48 hours so you can ship with maximum ease. If you have any questions <a href="eco_responsibility.html#">please contact us.</a></p>
          </div>
        </div>
        <!--======-->
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="eco_responsibility.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="eco_responsibility.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="eco_responsibility.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="eco_responsibility.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>