<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>History Symbolism Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="history_symbolism.html#" id="fb"> </a>
      	<a href="history_symbolism.html#" id="tw"> </a>
      </div>
    	<a href="history_symbolism.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="history_symbolism.html#">catalog</a></li>
      	<li id="navp2"><a href="history_symbolism.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="history_symbolism.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="history_symbolism.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="history_symbolism.html#">FOUNDER’S STORY</a></li>
      	<li><a href="history_symbolism.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="history_symbolism.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="history_symbolism.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="history_symbolism.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="hs_main_wrp">
  <div class="main in clearfix">
    <div class="content clearfix" id="hs">
        <h1>HISTORY &#38; SYMBOLISM</h1>
        <!--======-->
        <p id="hs_txt1">
        <img src="images/hs_img1.jpg" width="418" height="360" alt="" class="right">
        Throughout the span of recorded human history, Pinecones have served as a symbolic representation of Human Enlightenment, the Third Eye and the Pineal Gland.
<br><br>
Conifer Pine Trees are one of the most ancient plant genera on the planet, having existed nearly three times longer than all flowering plant species. The Pinecone is the evolutionary precursor to the flower, and its spines spiral in a perfect Fibonacci sequence in either direction, much like the Sacred Geometry of a rose or a sunflower.
<br><br>
Our “Pine”al Gland, shaped like (and named after) the Pinecone, is at the geometric center of our brain and is intimately linked to our body's perception of light. The Pineal modulates our wake-sleep patterns and circadian rhythms, remains uniquely isolated from the blood-brain barrier system, and receives a higher percentage of blood flow than any other area of the body save the kidneys.
<br><br>
It is considered by many to be our biological Third Eye, the "Seat of the Soul," the “Epicenter of Enlightenment” -- and its sacred symbol throughout history, in cultures around the world, has been the Pinecone.</p>
				<p id="hs_txt2">
        <img src="images/hs_img2.jpg" width="521" height="352" alt="" class="left">
        The Egyptian Staff of Osiris, dating back to approximately 1224 BC, depicts two intertwining serpents rising up to meet at a pinecone. Modern scholars and philosophers have noted the staff’s symbolic parallels to the Indian “Kundalini,” a spiritual energy in the body depicted as coiled serpents rising up from the base of the spine to the Third Eye (Pineal Gland) in the moment of enlightenment. Awakened Kundalini represents the merging and alignment of the Chakras, and is said to be the one and only way to attain the “Divine Wisdom” brining pure joy, pure knowledge and pure love.
<br><br>
Depictions of Hindu deities are also interwoven with both literal and symbolic representations of serpents and pinecones. In some cases, Hindu gods are carved, sculpted or drawn holding a pinecone in outstretched hand. Shiva, the most prominent god in the Hindu tradition, is consistently depicted with a head, or coiled hair, shaped in marked similarity to a pinecone and interwoven with a serpent or serpents.
<br><br>
In addition to spiritual consciousness and enlightenment, pinecones have also historically been used as symbols of everlasting or eternal life. Ancient Assyrian palace carvings, dating back to 713-716 BC depict four-winged God-like figures purposefully holding aloft pinecones, or in some cases, using a pinecone to pollinate their depiction of the Tree of Life -- a tribute, perhaps, to both the Pinecone’s immortality symbolism and its role as an icon of enlightenment.
				</p>
				<p id="hs_txt3">
        <img src="images/hs_img3.jpg" width="521" height="361" alt="" class="left">In yet another culture’s tribute to the Pinecone as symbolic of spiritual ascension and immortality, a statue of the Mexican god “Chicomecoatl” (“Seven Snakes”) again depicts the deity offering forth pinecones in one hand, and an evergreen tree in the other.
<br><br>
The Greeks and Romans also incorporated the Pinecone into their elaborate systems of religious belief and mythology. Dionysus, later known as Bacchus to the Romans, was continually depicted ca
rrying a “Thyrsus,” a fennel staff woven with ivy and leaves and topped with a pinecone. The Thyrsus, purported to drip with honey, was regularly used as a sacred instrument at religious rituals and fetes.</p>
				<p id="hs_txt4">Romans later built an enormous bronze sculpture, the “Pigna,” in the shape of a huge pinecone three stories tall. According to a popular medieval legend, the sculpture stood on top of the Pantheon, as a lid for the round opening in the center of the building's vault. The Pigna is confirmed to have served as a large fountain overflowing with water next the Temple of Isis in Ancient Rome, however, the gigantic statue now sits directly in front of the Catholic Vatican in the “Court of the Pinecone.”
<br><br>
Catholic religious tradition is intricately interwoven with pinecones, perhaps most prominently atop the sacred staff carried by the Pope himself. The Coat of Arms of the Holy See, found on the Vatican flag among other places, features a stacking of three crowns suspiciously similar in shape to a pinecone. The very name, “Holy See,” appears to many to be a direct reference to the Third Eye…</p>
				<p id="hs_txt5">
        <img src="images/hs_img4.jpg" width="481" height="178" class="right" alt="">
        Pinecones also turn up as sources of “illumination” in the church, such as candleholders and lamps, seemingly symbolic of the spiritual illumination the Third Eye represents. All of these factors lead conspiracy theorists and philosophers to accuse the Catholic church of using Christianity/Catholicism as a veil to blind the public to true spiritual enlightenment: The awakening of our Pineal Gland.</p>
				<p id="hs_txt6">
        <img src="images/hs_img5.jpg" width="308" height="178" alt="" class="left">One theory proposes that the Pinecone was actually the fruit from the Tree of the Knowledge of Good and Evil, purported in Genesis to have been eaten by Eve at the urgings of a serpent, and leading to the eviction of mankind from the Garden of Eden. This concept proves particularly provocative given the consistent reappearance of pinecone images with serpents and snake references across cultures.</p>
        <div id="hs_q" class="clearfix">
        	<p class="left">The Bible itself alludes to pinecones and the Pineal Gland on several occasions, sometimes quite specifically. Beginning in Genesis, Jacob wrestles all night with God, and is commanded to change his name to Israel. The bible then purports the following:
<br><br>
And Jacob called the name of the place Peniel: “For I have seen God face to face, and my life is preserved. And as he passed over Peniel the sun rose upon him.
<br><br>
<b>--Genesis 32:30-31</b>
<br><br>
(Literal Biblical translation of the word “Peniel” means “Face of God”)
<br><br>
In another interesting passage, Matthew seems to provide an uncannily similar description of the Third Eye to texts of the Yogic and Hindu spiritual traditions. This verse is also interesting because the Pineal Gland is the only part of the brain that is “single,” not possessing a left and right hemisphere.
<br><br>
The light of the body is the eye: if therefore your eye be single, your whole body shall be full of light.
<br><br>
<b>--Matthew 6:22</b></p>
        	<p class="right">Matthew’s description also appears pertinent to recent pineal experimentation conducted in amphibians. Pineal supplementation in frogs, which possess a more prominent Pineal Gland, results in a physical “lightening” of their entire skin pigmentation. The Pineal Gland in some reptiles actually still contains “rods“ and “cones“ as in our retinas, and is capable of directly perceiving light.
<br><br>
This final verse from Hosea, seems to more directly address the connection between spirituality and the Pinecone/Pine Tree:
<br><br>
O Ephraim, what more have I to do with idols?
<br><br>
I will answer him and care for him.
<br><br>
I am like a green pine tree;
<br><br>
your fruitfulness comes from me.
<br><br>
<b>--Hosea 14:8</b></p>
        </div>
				<p id="hs_txt7">
        <img src="images/hs_img6.jpg" width="261" height="873" alt="" class="right">
        In addition to critical theories relating to Christianity and the Catholic Church, conspiracy theorists also point to the presence of pinecones in Freemason architecture and symbolism as another example of organized spiritual oppression.  They believe the Freemasons fully understand the spiritual significance of the Third Eye, and regularly pay iconic tribute to it, while continuing to placate the masses with a doctrine of religious and cultural dogma.
<br><br>
Pinecones regularly appear framed in Freemason Octagons on the ceilings of Masonic Lodges, and Large Freemason sculptures on the side of the Whitehall Building in the New York Financial District goes so far as to depict two enormous intertwining snakes spiraling up to a pinecone overlooking Battery Place (which is striking similarity to the Staff of Osiris).
<br><br>
Taking things yet another step further, conspiracy theorists also point out the flaunting of pinecone symbolism by Hitler and Nazi Germany, as evidenced by pinecone-topped staffs inlayed into Hitler’s desk, and pinecones hidden in the body of the classic Nazi eagle icon.
<br><br>
Yet another increasingly popular theory claims that Fluoride was introduced to our water supply as a means of oppressing spiritual awakening and consciousness by broad organizations, such as the Free Masons and Illuminati.
<br><br>
In 1997, British Dr. Jennifer Luke extensively documented the Pineal Gland as the primary target for Fluoride accumulation in our bodies, where it calcifies the Pineal, inhibiting blood flow and “clogging” the basic functions of our Third Eye.
<br><br>
By feeding the public Fluoride from birth, critics claim that secret societies working within our government have attempted to maintain greater spiritual and social complacence by chemically clouding our biological portal to spiritual awareness.
<br><br>
Psychopharmacologist Rick Strassman believes the Third Eye/Pineal Gland to be the source of the psychedelic Dimethyltryptamine (DMT) in our bodies. Strassman has hypothesized that large amounts of DMT are released in our bodies during heightened states of spiritual consciousness, such as birth, death and near-death experiences -- or perhaps during the awakening of our Kundalini in a moment of Enlightenment.
<br><br>
Synthesized DMT, or plants containing DMT are often used as recreational psychedelics, or in shamanic ceremonies, such as the Ayahuasca ceremony originating in South America. DMT and/or Ayahuasca users often report intensely entheogenic experiences of spiritual awakening, contact with entities of supernatural or spiritual origin, and the dilation or compression of time.
<br><br>
It is worth noting that among reports of thousands users experiences with Ayahuasca, the Serpent is documented as the the most commonly appearing archeatype in their spiritual/psychedelic visions.
<br><br>
Pinecone related similarities have also shown up in Crop Circles. Although crop circles are typically representative of a wide range of items and ideas, the two featured here reflect noteworthy Pinecone/Third Eye parallels…</p>
				<p id="hs_txt8">
        <img src="images/hs_img7.jpg" width="548" height="388" alt="" class="left">
        As with many iconic symbols throughout history (the Swastika, the Christian Cross, the All-Seeing-Eye on the dollar bill), the totemic power of the Pinecone has been used by a broad spectrum of both positive and negative cultural forces throughout history to reference and allude to Spiritual Enlightenment and the Third Eye.
<br><br>
Modern-day organizations appear to be toting the Pinecone’s symbolic power over the masses, while simultaneously disguising its true importance -- and may even be seeking to chemically block or poison our Third Eye via Fluorinated public drinking water.
<br><br>
Third Eye Pinecone Talismans represent a reclamation of the emblematic power and natural beauty of the Pinecone, the Pineal Gland, and the ancient historical heritage accompanying one of Mother Nature’s most compelling organic symbols.
<br><br>
Third Eye Pinecone Necklaces and Talismans are made from the polished cross-section of a living pinecone, sustainably harvested in unique micro-climates, and specially cut, dried, cured and encased in protective resin. They are elegant, natural, unique, and symbolize the evolution of collective consciousness while harnessing the potent spiritual energy of the Pineal Gland and of the Third Eye.
<br><br>
Thank you for your interest in Pinecones. Should you wish to support the dissemination of this information, please visit our <a href="history_symbolism.html#">Products Page</a> to purchase your own unique Pinecone Talisman or necklace.</p>
        <!--======-->
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="history_symbolism.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="history_symbolism.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="history_symbolism.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="history_symbolism.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>