<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Home Page</title>
<!--[if IE 7]>
  <style type="text/css">
  	h1{line-height:17px;}
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="home.html#" id="fb"> </a>
      	<a href="home.html#" id="tw"> </a>
      </div>
    	<a href="home.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="home.html#">catalog</a></li>
      	<li id="navp2"><a href="home.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="home.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="home.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="home.html#">FOUNDER’S STORY</a></li>
      	<li><a href="home.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="home.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="home.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
      <!--<ul class="nav_second" id="nav_second4">
      	<li><a href="#">FOUNDER’S STORY</a></li>
      	<li><a href="#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="#">ECO-RESPONSIBILITY</a></li>
        <li><a href="#">media</a></li>
      </ul>-->
    	<a href="home.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="home_wrp">
  <div class="main in clearfix" id="home_in">
  	<div id="home_main" class="clearfix">
    	<a href="home.html#" class="feature_boxes" id="fb1">
      	<span>
        	<big>pendants</big>
          <small>browse our truly unique selection of jewelry</small>
        </span>
        <img src="images/pendants.jpg" width="122" height="110" alt="">
      </a>
    	<a href="home.html#" class="feature_boxes" id="fb2">
      	<span>
        	<big>our story</big>
          <small>hear the founder’s amazing tale of how it began</small>
        </span>
        <img src="images/our_story.jpg" width="120" height="110" alt="">
      </a>
    	<a href="home.html#" class="feature_boxes" id="fb3">
      	<span>
        	<big>accessories</big>
          <small>hats, belt buckles &#38; nutritional supplements</small>
        </span>
        <img src="images/accessories.jpg" width="114" height="110" alt="">
      </a>
    </div>
    <img src="images/home_main_shadow.png" width="974" height="124" alt="" id="home_main_shadow">
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="home.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="home.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="home.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>