<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Pinecone Info Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="pinecone_info.html#" id="fb"> </a>
      	<a href="pinecone_info.html#" id="tw"> </a>
      </div>
    	<a href="pinecone_info.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="pinecone_info.html#">catalog</a></li>
      	<li id="navp2"><a href="pinecone_info.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="pinecone_info.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="pinecone_info.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="pinecone_info.html#">FOUNDER’S STORY</a></li>
      	<li><a href="pinecone_info.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="pinecone_info.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="pinecone_info.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="pinecone_info.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pi_main_wrp">
  <div class="main in clearfix">
    <div class="content clearfix" id="pi">
        <h1>Pinecone Info</h1>
        <!--======-->
        <div class="pi_cell clearfix" id="spin_cell">
        	<div id="spin_wrp">
            <div id="spin_box">
              <img src="images/about_pic.jpg" width="420" height="380" alt="">
            </div>
            <img src="images/spin_shadow.png" width="454" height="123" alt="" id="spin_shadow">
          </div>
        	<div class="right" id="spin_right">
          	<h2>About the Pendants</h2>
            <p>Throughout the span of recorded human history, Pinecones have served as a symbolic representation of Human Enlightenment, the Third Eye and the Pineal Gland.
<br><br>
Conifer Pine Trees are one of the most ancient plant genera on the planet, having existed nearly three times longer than all flowering plant species. The Pinecone is the evolutionary precursor to the flower, and its spines spiral in a perfect Fibonacci sequence in either direction, much like the Sacred Geometry of a rose or a sunflower.
<br><br>
Soul," the “Epicenter of Enlightenment” -- and its sacred symbol throughout history, in cultures around the world, has been the Pinecone.</p>
						<a href="pinecone_info.html#" id="spin_btn">click pinecone to spin</a>
          </div>
        </div>
        <!--======-->
        <div id="sizing_wrp" class="clearfix">
        	<h2>Pinecone Sizing</h2>
          <p>Throughout the span of recorded human history, Pinecones have served as a symbolic representation of Human Enlightenment, the Third Eye and the Pineal Gland. Conifer Pine Trees are one of the most ancient plant genera on the planet, having existed nearly three times longer than all flowering plant species.</p>
          <img src="images/sizing_img.jpg" width="860" height="276" alt="" id="sizing_img">
        </div>
        <!--======-->
        <div id="pi_btm_cell" class="clearfix">
        	<img src="images/care_img.jpg" width="380" height="416" alt="" class="left">
          <div id="care_refr">
          	<h2>Pinecone Care</h2>
            <p>Our pendants are very sturdy and will typically hold up well under most conditions. With that said Pinecones are wood and should be cared for as one would with any fine wooden product. Most notably, try not to repeatedly exposure your pinecone pendent to heat above 180 degrees F. </p>
            <h2>Pinecone Refurbishment</h2>
            <p>If you are one of the rare few that end up needing a refinishing we are happy to accommodate you at the very minimal cost of $15 per pendant. Simply order a refurbishment by clicking the button. Once you have ordered we will send you prepaid postage within 48 hours so you can ship with maximum ease. If you have any questions please <a href="pinecone_info.html#">contact us.</a></p>
            <h2 id="purchase">click to purchase refinishing ($15)</h2>
            <a href="pinecone_info.html#" id="add_btn">add to cart</a>
          </div>
        </div>
        <!--======-->
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="pinecone_info.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="pinecone_info.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="pinecone_info.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="pinecone_info.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>