<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Product Details Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="product_details.html#" id="fb"> </a>
      	<a href="product_details.html#" id="tw"> </a>
      </div>
    	<a href="product_details.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="product_details.html#">catalog</a></li>
      	<li id="navp2"><a href="product_details.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="product_details.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="product_details.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="product_details.html#">FOUNDER’S STORY</a></li>
      	<li><a href="product_details.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="product_details.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="product_details.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="product_details.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pdp_main_wrp">
  <div class="main in clearfix">
  	<!-- Start SideBar -->
  	<div id="sb">
    	<h6 id="sb_ttl">EXPLORE FURTHER</h6>
      <ul class="sb_list3">
      	<li>you may also like...</li>
        <li>
        	<a href="product_details.html#">
          	<img src="images/painted_hats.jpg" width="149" height="102" alt="">
          </a>
          <b>Painted hats</b>
        </li>
      </ul>
      <ul class="sb_list3 rec_view_sb">
      	<li>RECENTLY VIEWED </li>
        <li>
        	<a href="product_details.html#">
          	<img src="images/rcntl_viewed1.jpg" width="149" height="121" alt="">
          </a>
        </li>
        <li>
        	<a href="product_details.html#">
          	<img src="images/rcntl_viewed2.jpg" width="149" height="119" alt="">
          </a>
        </li>
      </ul>
      <ul class="sb_list4">
      	<li><a href="product_details.html#">see similar pieces <span> </span></a></li>
      	<li><a href="product_details.html#">pinecone care </a></li>
      	<li><a href="product_details.html#">questions about sizing?</a></li>
      </ul>
      <ul class="sb_list sb_list2 sb_cart">
      	<li class="sb_list2_ttl" id="sb_my_cart"><a href="product_details.html#">view my cart</a></li>
      </ul>
    </div>
    <!-- End SideBar -->
    <div class="prod_page" id="pdp">
    	<div id="pdp_main_text" class="clearfix">
        <h1>opalite inlay</h1>
        <h2>Gilson Lab Formed Opals</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Lorem ipsum dolor sit amet.</p>
        <div id="prod_tool">
        	<div id="pdp_t1" class="clearfix">
          	<p id="item_n">Item #4081</p>
            <p id="price">$148</p>
          </div>
        	<div id="pdp_t2" class="clearfix">
          	<div id="social">
            	<span id="fb_like"><img src="images/fb_like.png" width="73" height="20" alt=""></span>
              <span id="pin_it"><img src="images/pin_it.png" width="43" height="20" alt=""></span>
            </div>
            <form id="chose_list" action="product_details.html">
              	<b>CHOOSE CORD / CHAIN</b>
                <div class="clear"></div>
                <input type="radio" value="faux">
                <label for="">Natural Faux Leather</label>
                <div class="clear"></div>
                <input type="radio" value="silver">
                <label for="">Sterling Silver Chain $10</label>
                <div class="clear"></div>
                <input type="radio" value="gold">
                <label for="">24k Gold Chain $30</label>
                <div class="clear"></div>
                <input type="submit" value="ADD TO CART" id="add_btn"></form>
             </form>
          </div>
        </div>
      </div>
      <div id="prod_views">
      	<div class="enlarge">
          <span class="qaz"> </span>
      		<img src="images/opalite_big.jpg" width="340" height="389" alt="">
        </div>
      	<div class="enlarge">
          <span class="qaz"> </span>
      		<img src="images/lalala_big.jpg" width="340" height="389" alt="">
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="product_details.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="product_details.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="product_details.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="product_details.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>