<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Shipping Returns Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="shipping_returns.html#" id="fb"> </a>
      	<a href="shipping_returns.html#" id="tw"> </a>
      </div>
    	<a href="shipping_returns.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="shipping_returns.html#">catalog</a></li>
      	<li id="navp2"><a href="shipping_returns.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="shipping_returns.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="shipping_returns.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="shipping_returns.html#">FOUNDER’S STORY</a></li>
      	<li><a href="shipping_returns.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="shipping_returns.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="shipping_returns.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="shipping_returns.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pdp_main_wrp">
  <div class="main in clearfix">
    <div class="content clearfix" id="shr">
        <h1>shipping &#38; returns</h1>
        <div id="shipping_options">
        	<h2>Shipping Options</h2>
          <p><img src="images/usps_logo.jpg" width="104" height="89" alt="" id="upsp" >
          We use the United States Postal Service as our shipping provider because it allows us to offer competitive pricing and excellent service. Once you finalize your purchase you will receive a prompt email confirmation of your order and your tracking number (by email also) once your product goes out. Please keep in mind that it may take 24-72 hours for us to process and ship your order (will vary depending on seasonal busyness). Once a package has left our facility it is solely handled by USPS and all inquiries relating to its tracking or delivery should be directed to them (www.usps.com). If your package has not arrived within the time frame indicated in your tracking email please inquire with your local post office for a resolution before contacting our customer service department.</p>
        </div>
        <div class="shr_table" id="domestic_table">
        	<!--=_=-->
        	<div class="row" id="row1">
          	<div class="col1">domestic</div>
          	<div class="col2">SMALL BOX</div>
          	<div class="col3">LARGE BOX</div>
          	<div class="col4">DELIVERY TIME</div>
          	<div class="col5">TRACKING</div>
          	<div class="col6">GUARANTEED</div>
          </div>
        	<!--=_=-->
        	<div class="row" id="row2">
          	<div class="col1">Priority</div>
          	<div class="col2">$6</div>
          	<div class="col3">$16</div>
          	<div class="col4">1-5 Days</div>
          	<div class="col5">Yes</div>
          	<div class="col6 no">No</div>
          </div>
        	<!--=_=-->
        	<div class="row" id="row3">
          	<div class="col1">EXPRESS</div>
          	<div class="col2">$19 (Envelope)</div>
          	<div class="col3">$40</div>
          	<div class="col4">1-2 Days</div>
          	<div class="col5">Yes</div>
          	<div class="col6">Yes</div>
          </div>
        	<!--=_=-->
        </div>
        <!--=====================-->
        <div class="shr_table" id="international_table">
        	<!--=_=-->
        	<div class="row" id="row1">
          	<div class="col1">international</div>
          	<div class="col2">SMALL BOX</div>
          	<div class="col3">LARGE BOX</div>
          	<div class="col4">DELIVERY TIME</div>
          	<div class="col5">TRACKING</div>
          	<div class="col6">GUARANTEED</div>
          </div>
        	<!--=_=-->
        	<div class="row" id="row2">
          	<div class="col1">Priority</div>
          	<div class="col2">$13-20</div>
          	<div class="col3">$40-65</div>
          	<div class="col4">6-10 Days</div>
          	<div class="col5 no">No</div>
          	<div class="col6 no">No</div>
          </div>
        	<!--=_=-->
        	<div class="row" id="row3">
          	<div class="col1">EXPRESS</div>
          	<div class="col2">$40 (Envelope)</div>
          	<div class="col3">$75</div>
          	<div class="col4">3-5 Days</div>
          	<div class="col5">Yes</div>
          	<div class="col6">Yes</div>
          </div>
        	<!--=_=-->
        </div>
        <div id="return_policy">
          <h2>Return Policy</h2>
          <p><img src="images/return_image.jpg" width="102" height="102" alt="" id="return_image">It’s very important to us that you are happy with your Third Eye Pinecone experience. We are very blessed to be able to create and sell products that we love and share that passion with our customers. Because of that comm we have a solid no-questions-asked 14 day return policy (minus shipping) on all of our products. Simply email our staff notifying us of your choice and send your return package to the address listed below. Please include a note in your return package with all of your pertinent information (name, address, email, phone number) and we will process your refund as soon as we have received and inspected your product.</p>
        </div>         
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="shipping_returns.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="shipping_returns.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="shipping_returns.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="shipping_returns.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>