<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Shopping Cart Step 4</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="shopping_cart_step_4.html#" id="fb"> </a>
      	<a href="shopping_cart_step_4.html#" id="tw"> </a>
      </div>
    	<a href="shopping_cart_step_4.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="shopping_cart_step_4.html#">catalog</a></li>
      	<li id="navp2"><a href="shopping_cart_step_4.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="shopping_cart_step_4.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="shopping_cart_step_4.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="shopping_cart_step_4.html#">FOUNDER’S STORY</a></li>
      	<li><a href="shopping_cart_step_4.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="shopping_cart_step_4.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="shopping_cart_step_4.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="shopping_cart_step_4.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="cnct_main_wrp">
  <div class="main in clearfix" id="step_main">
     <div class="clearfix step_bar step_bar" id="shipping_address">
    	<b>shopping</b> cart
    </div>
    <div class="clearfix step_bar" id="billing_address">
    	<b>Billing</b> Address
    </div>
    <div class="clearfix step_bar" id="credit_address">
    	<b>CREDIT</b> CARD
    </div>
    <div class="content2 clearfix" id="cnct">
        <div id="ttl_sb">
        	<h3>credit <i>card</i></h3>
        </div>
        <div class="content2_main clearfix">
        	<h4>PLEASE ENTER CREDIT/DEBIT INFO</h4>
          <form action="shopping_cart_step_4.html" class="form clearfix">
              <!-- ________ -->
          		<span><label for="">Card Number: <i>*</i></label></span>
              <input type="text" id="">
              <img src="images/cc_img.png" width="182" height="23" alt="" id="cc_form">
              <div class="clear"></div>
              <!-- ________ -->
          		<span><label for="">Expiration Date: <i>*</i></label></span>
              <div id="exp_date">
              	<select>
                	<option>Mounth</option>
                	<option>January</option>
                	<option>May</option>
                </select>
              	<select>
                	<option>Year</option>
                	<option>1987</option>
                	<option>2011</option>
                </select>
              </div>
              <div class="clear"></div>
              <!-- ________ -->
          		<span><label for="">Security Code: <i>*</i></label></span>
              <input type="text" id="secr_code">
              <a href="shopping_cart_step_4.html#" id="where">Where is it?</a>
              <div class="clear"></div>
              <!-- ________ -->
          		<span><label for="">Email: <i>*</i></label></span>
              <input type="text" id="">
              <b>(Only for tracking and Confirmation)</b>
              <div class="clear"></div>
              <!-- ________ -->
          		<span><label for="">Confirm Email: <i>*</i></label></span>
              <input type="text" id="">
              <div class="clear"></div>
              <!-- ________ -->
          		<span><label for="">Phone: <i>*</i></label></span>
              <input type="text" id="">
              <b>Your info is secure and private.</b>
              <div class="clear"></div>
              <!-- ________ -->
          		<span>&nbsp;</span>
              <small><input type="checkbox" id="">Subscribe for discounts &#38; news</small>
              <div class="clear"></div>
              <!-- ________ -->
              <h6>send it home.</h6>
              <input type="submit" value="continue" id="add_btn">
          </form>
        </div>
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="shopping_cart_step_4.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="shopping_cart_step_4.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="shopping_cart_step_4.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>