<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>Wholesale Orders Page</title>
<!--[if IE 7]>
  <style type="text/css">
		.pb_cell h6{line-height:11px;}
  </style>
<![endif]-->
<!--[if lte IE 9]>
  <style type="text/css">
		h1{margin-top: -5px;}
		h2{margin-top: 18px;}
    #back_top a {line-height:21px;}
    .nav_second li a { line-height:40px;}
  </style>
<![endif]-->
</head>
<body>
<!-- ====== START Header ====== -->
<div class="hdr_wrp wrp">
  <div class="hdr in clearfix">
  	<div id="hdr_top" class="clearfix">
      <input type="text" placeholder="Email Signup" id="hdr_email" />
      <div id="hdr_social">
      	<a href="wholesale_orders.html#" id="fb"> </a>
      	<a href="wholesale_orders.html#" id="tw"> </a>
      </div>
    	<a href="wholesale_orders.html#" id="my_card">my cart (3)</a>
    </div>
    <div class="clear"></div>
    <div id="hdr_main" class="clearfix">
    	<ul id="nav_prime">
      	<li id="navp1"><a href="wholesale_orders.html#">catalog</a></li>
      	<li id="navp2"><a href="wholesale_orders.html#" id="navp_active">products</a></li>
      	<li id="navp3"><a href="wholesale_orders.html#">PINECONE INFO</a></li>
      	<li id="navp4"><a href="wholesale_orders.html#">CONTACT</a></li>
      </ul>
    	<div class="clear"></div>
      <ul class="nav_second" id="nav_second4">
      	<li><a href="wholesale_orders.html#">FOUNDER’S STORY</a></li>
      	<li><a href="wholesale_orders.html#">HISTORY &#38; SYMBOLISM</a></li>
      	<li><a href="wholesale_orders.html#">ECO-RESPONSIBILITY</a></li>
        <li><a href="wholesale_orders.html#">media</a></li>
      </ul>
    	<div class="clear"></div>
      <input type="text" id="hdr_srch" placeholder="Search" />
    	<a href="wholesale_orders.html#" id="logo"> </a>
    </div>
  </div>
</div>
<!-- ====== START Main ====== -->
<div class="main_wrp wrp" id="pi_main_wrp">
  <div class="main in clearfix">
    <div class="content clearfix" id="pi">
        <h1>Wholesale Orders</h1>
        <div class="clear"></div>
        <div id="wo_left">
        	<h2>About the Pendants</h2>
          <p>Retailing Third Eye Pine Cones is a very rewarding and profitable experience. Our pendants are always strong sellers and extremely unique additions to any respectable jewelry collection. The blend of natural beauty, sacred geometry, gem inlays and an aesthetically pleasing finish always generate a reaction of genuine amazement and novelty. Additionally, no two pinecones are identical which encourages the purchaser to attach to their particular pendent and ultimately fall in love with their choice.
<br><br>
Please use this section to both apply for a wholesale account and to place wholesale account orders. Please note that our minimum order is $500 and all standard return rates, shipping and general policies apply to wholesale orders.  
<br><br>
<a href="wholesale_orders.html#">REQUEST AN ACCOUNT</a> (request a wholesale catalog)
<br><br>
<a href="wholesale_orders.html#">PLACE AN ORDER</a>
<br><br>
Please let us know if you have any specific requests or ideas. We are always happy to work with our customers for mutual satisfaction.
<br><br>
<a href="wholesale_orders.html#">CONTACT US</a></p>
        </div>
        <img src="images/wholesale.jpg" width="440" height="448" alt="" id="wholesale_pic">
    </div>
  </div>
</div>
<!-- ====== END Main ====== -->
<!-- ====== START Footer ====== -->
<div class="ftr_wrp wrp">
  <div class="ftr in">
    <div id="back_top">
    	<a href="wholesale_orders.html#"> </a>
    </div>
    <div id="ftr_separator"> </div>
    <ul id="ftr_nav" class="clearfix">
    	<li><a href="wholesale_orders.html#" id="ftr_nav1">WHOLESALE</a></li>
    	<li><a href="wholesale_orders.html#" id="ftr_nav2">SHIPPING &#38; RETURNS</a></li>
    	<li><a href="wholesale_orders.html#" id="ftr_nav3">CONTACT</a></li>
    </ul>
    <p id="copyright">Copyright &#169; Third Eye Pinecones 2012. All Rights Reserved. </p>
  </div>
</div>
<!-- ====== END Footer ====== -->
</body>
</html>